
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  font: 18px 'gotham', 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight:200;
  line-height: 1.5;
  height:100%;
  color:#AABED0;
  text-rendering:optimizeLegibility;
  background-repeat: no-repeat;
  background-color: #002D3C;
	background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #030E17),
	color-stop(1, #002D3C)
);
	background-image: -o-linear-gradient(bottom, #030E17 0%, #002D3C 100%);
	background-image: -moz-linear-gradient(bottom, #030E17 0%, #002D3C 100%);
	background-image: -webkit-linear-gradient(bottom, #030E17 0%, #002D3C 100%);
	background-image: -ms-linear-gradient(bottom, #030E17 0%, #002D3C 100%);
	background-image: linear-gradient(to bottom, #030E17 0%, #002D3C 100%);
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 10px 0; }

a         { color: #AABED0; }
a:hover   { color: #AABED0; text-decoration:none }
a:visited { color: #AABED0; }




h1 {
	margin:28px auto 10px auto;
	font-weight:300;
	font-size:32px;
	color: #fff;
}

h2{
	margin:20px auto 10px auto;
	font-weight:300;
	font-size:24px;
	color: #fff;
}


.general {
	width:50%;
	text-align:left;
	margin:50px auto 50px auto;
}

#fotos{
	width: 65%;
	margin:0 auto 100px auto;
}

#fotos img {
	width:100%;
}


@media all and (min-width: 421px) and (max-width: 1024px) {

	.general {
		width:80%;

}

#fotos{
	width: 90%;
}

	h2 {
		margin:0 auto 10px auto;
	}

}

@media all and (max-width: 420px) {

		.general {
		width:90%;
}
	#fotos{
	width: 95%;
}

}

	h2 {
		margin:0 auto 10px auto;
	}
}





