<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>SciFabric - Tailor-made solutions for your citizen science and research projects</title>
        <meta name="description" content="SciFabric - Tailor-made solutions for your citizen science and research projects">
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/info.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" media="screen" title="no title" charset="utf-8">
        

        <script src="/js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/modernizr.custom.js" type="text/javascript" charset="utf-8"></script>
        
		<script src="/js/jquery.lazylinepainter-1.5.1.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="/js/main.js" type="text/javascript" charset="utf-8"></script>
		
	</head>
	<body>
        
        <div class="bg_image">
        </div>

		<section class="site">

			{{ content }}

		</section>
		

	</body>
</html>
